In [ ]:
# Задание 1
# Скачайте с сайта grouplens.org...movielens/ датасет любого размера.
# Определите какому фильму было выставлено больше всего оценок 5.0.
# https://grouplens.org/datasets/movielens/

In [2]:
import pandas as pd

In [35]:
data = pd.read_csv('ratings.csv', sep = ',', header=0)
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [38]:
len(data.movieId.unique())

9724

In [39]:
data.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [44]:
df = pd.DataFrame(data)
print(df)
data['movieId'].value_counts().head(10)
filter_large = df['rating'] == 5.0 
data.loc[filter_large]
df['movieId'].value_counts()[df['movieId'].value_counts() == df['movieId'].value_counts().max()]

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

356    329
Name: movieId, dtype: int64

In [ ]:
# Задание 2
# По данным файла power.csv посчитайте суммарное потребление 
# стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
# Не учитывайте в расчетах отрицательные значения quantity.

In [93]:
# Задание 2.
import pandas as pd
sum_power = 0
data = pd.read_csv('power.csv')
data_2 = data[(data['year'] >= 2005) & (data['year'] <= 2010) & (data['quantity'] > 0)]
data_3 = data_2[data_2.category.isin([4, 12, 21])]
sum_power = data_3[data_3.country.str.contains('|'.join(['Latvia','Lithuania','Estonia']))]['quantity'].sum()
print('Cуммарное потребление стран Прибалтики:  {}'.format(sum_power))

Cуммарное потребление стран Прибалтики:  240580.0

In [ ]:
# Задание 3.
# Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
# Примеры страниц (необязательно брать именно эти):
# https://fortrader.org/quotes
# https://www.finanz.ru/valyuty/v-realnom-vremeni

In [92]:
# Задание 3.
pd.read_html('https://fortrader.org/quotes')[1]
page_url = 'https://fortrader.org/quotes'
df = pd.read_html(page_url, encoding='utf-8')
new_df = pd.DataFrame(df[2])
print(df[2])
#удаление столбца "Обновлено" заполненный только Nan
new_df.drop('Обновлено', axis=1, inplace=True)
print('type new ',type(new_df))
new_df.head(3)

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 812       -1.0         -0.00        NaN
1  Серебро Цена на серебро на бирже  25.65       -0.0         -0.00        NaN
2         Палладий Цена на Палладий  2 624       -7.0         -0.00        NaN
3           Платина Цены на платину  1 100       -0.0         -0.00        NaN
4           Медь Цена меди на бирже   4.31       -0.0         -0.01        NaN
type new  <class 'pandas.core.frame.DataFrame'>

                           Название   Цена  Изменение  Изменение(%)
0       Золото Цена золота на бирже  1 812       -1.0          -0.0
1  Серебро Цена на серебро на бирже  25.65       -0.0          -0.0
2         Палладий Цена на Палладий  2 624       -7.0          -0.0